services:
  postgres:
    image: postgres:16
    container_name: click-checker-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - click-checker-pg-data:/var/lib/postgresql/data

volumes:
  click-checker-pg-data:
