spring:
  application:
    name: click-checker
  mvc:
    log-request-details: false

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: info
