spring:
  application:
    name: click-checker
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
